.EventsTable {
  color: white;
  font-size: 1.1rem;
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  box-shadow: 1px 10px 8px -2px var(--table-shadow);
  -webkit-box-shadow: 1px 10px 8px -2px var(--table-shadow);
  -moz-box-shadow: 1px 10px 8px -2px var(--table-shadow);
}
